@use "normalize";
@use "variables" as *;
@use "generic";
@use "grid" as *;
@use "utilities";

.page {
	max-width: var(--page-width);
	margin: 0 auto;
}

.top-header {
	@media(min-width: $bp-small) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.main-nav {
	ul {
		@media(min-width: $bp-small) {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.5rem;
		}

		font-family: var(--title-font);
		font-size: 1.2rem;
		text-align: center;

		li {
			padding: 0.4rem 0;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

.logo {
	width: 100%;
	max-width: 350px;
	margin: auto;

	@media(min-width: $bp-small) {
		margin: 0;
	}
}

.btn {
	display: inline-block;
	background: #ffdf00;
	border-radius: 55px;
	padding: 0.7rem 2rem;
}

.hero-img {
	width: 100%;
}