---
layout: layout.njk
permalink: /
---

{% include "header.njk" %}

{% set home = sanityData.homepage[0] %}

<div class="hero">
	<img class="hero-img" src="{{ home.hero_image | resolveImage }}" alt="">
</div>

<div class="box-grid">
	{% for item in sanityData.box %}
	<div class="grid-row">
		<div class="grid-col u-copy-body" {% if item.color.hex %} style="background: {{ item.color.hex }}" {% endif %}>
			<h2 class="u-caps">{{ item.title }}</h2>
			<div>{{ item.body | toHtml | safe }}</div>
		</div>
		<div class="grid-col col-image">
			<img class="bgimage" src="{{ item.image[0] | resolveImage }}" alt="">
		</div>
	</div>
	{% endfor %}
</div>

<script src="/assets/dist/js/home/scripts.js"></script>
