---
layout: layout.njk
pagination:
    data: sanityData.page
    size: 1
    alias: the_page
permalink: "{{ the_page.slug.current | slug }}.html"
---

{% include "header.njk" %}

<h1>{{ the_page.title }}</h1>

{{ the_page.body | toHtml | safe }}